[Unit]
Description=Mihomo transparent gateway rules
Wants=network-online.target
Requires=mihomo.service
After=network-online.target mihomo.service
PartOf=mihomo.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/sbin/mihomo-gateway-rules.sh start
ExecReload=/usr/local/sbin/mihomo-gateway-rules.sh restart
ExecStop=/usr/local/sbin/mihomo-gateway-rules.sh stop

[Install]
WantedBy=multi-user.target
