[user]
	name = 田凝汉
	email = sc.han@petalmail.com
[safe]
	directory = /home/han/Projects/dotfiles
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
